h1 {
    color: blue;
    font-size: larger;
   
}
body {
    color: rgb(116, 42, 165);
    font-style: initial;
    font-size: x-large;
    background-color: rgb(27, 39, 39);
}

.font-color-blue{
    color: rgb(165, 42, 99);
    
}